@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oxygen:wght@400;700&display=swap");

:root {
  --palette-offwhite: #fdfafa;
  --palette-pink: #f89fa1;
  --palette-yellow: #ffd257;
  --palette-green: #42c597;
  --palette-blue: #36a1d3;
  --palette-purple: #b979e0;
  --text-color: rgb(71, 71, 71);
  --theme-toggle-color: #b979e0;
  --header-color: #38777e;

  font-size: 16px;
}

/* --------------------------------------- Reset and basics ---------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--palette-blue);
}
/* 
a:visited {
  color: var(--palette-pink);
} */

body {
  font-family: sans-serif;
  background-color: var(--palette-offwhite);
  color: var(--text-color);
  overflow-x: hidden;
  transition: background-color 0.5s;
}

.title {
  padding-bottom: 5px;
  color: var(--header-color);
}

/* --------------------------------------- Navigation Bar ---------------------------------------*/
.nav-container {
  grid-column: 1/15;
  height: 40px;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--palette-offwhite);
  box-shadow: 0 2px 0 rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
}

.nav-branding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav-branding-logo {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  fill: var(--header-color);
}

.nav-branding-name {
  padding-left: 10px;
}

/* --------------------------------------- Page Container ---------------------------------------*/
.page-container {
  display: grid;
  position: relative;
  grid-template-columns: 5vw repeat(12, 1fr) 5vw;
}

.page-header {
  margin-top: 40px;
  padding: 150px 0;
  grid-column: 1/15;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.page-header-wrapper {
  margin: 0 16.5vw;
}

/* --------------------------------------- Header ---------------------------------------*/

.header-title {
  margin-bottom: 15px;
  font-size: 4.5rem;
  font-family: "Oxygen";
  text-align: center;
  color: var(--header-color);
}

.header-separator {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.separator-left {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  flex: 1;
}

.separator-text {
  margin: 0 15px;
  padding-bottom: 5px;
  font-family: "Lato";
  font-weight: 300;
  text-align: center;
  color: var(--header-color);
}

.separator-right {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  flex: 1;
}

.header-subtitle {
  font-size: 1rem;
  font-family: "Lato";
  text-align: center;
}

/* --------------------------------------- Content ---------------------------------------*/
.content-section {
  margin-top: 40px;
  grid-column: 1/15;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.content-wrapper {
  margin: 0 16.5vw;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--header-color);
}

/* --------------------------------------- Cards ---------------------------------------*/
.card-wrapper-portfolio {
  display: flex;
  padding: 2.5vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-portfolio {
  margin: 10px;
  display: flex;
  flex: 1 1 30vw;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.3);
}

.img-wrapper {
  min-width: 15vw;
  max-width: 30vw;
}

img.card-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.portfolio-text-wrapper {
  padding: 2vw;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
  font-size: 2rem;
}

.card-text {
  font-size: calc(1rem + 0.3vw);
  padding-bottom: 5px;
}
.card-technologies {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.technology-icon {
  font-size: calc(1rem + 0.3vw);
  padding: 0 5px;
  line-height: 5vw;
  width: 5vw;
  height: 5vw;
}

/* --------------------------------------- About Me ---------------------------------------*/

.card-wrapper-about-me {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5vw;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-about-me {
  margin: 10px 5px;
  width: 100%;
}

.skills-container {
  display: flex;
  width: 100%;
  padding: 5px;
}

.skills-container > div {
  margin: 10px 0;
  flex: 1 1 20vw;
}

.skills-coding-items {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.skills-box.coding {
  margin-right: 5px;
}
.skills-box.extra {
  margin-left: 5px;
}

.skills-box > h3 {
  text-align: center;
}

.card-about-me,
.skills-box {
  padding: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

.skills-extra-languages {
  display: flex;
  padding: 5px;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills-extra-language,
.skills-extra-design {
  padding: 5px;
  flex-basis: 7vh;
}

/* --------------------------------------- Sidebar ---------------------------------------*/

.sections-sidebar {
  position: fixed;
  top: 515px;
  right: 30px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-bottom: 7px;
}

.sidebar {
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  border-left: 1px solid rgb(0, 0, 0, 0.1);
}
/* --------------------------------------- Contact ---------------------------------------*/

.content-section.contact {
  border: none;
}
.contact-me-wrapper {
  padding: 2.5vw;
}

.contact-email {
  padding: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

.contact-form > p {
  display: flex;
}

.contact-form > {
  flex: 1 1 100%;
}

/* --------------------------------------- Footer ---------------------------------------*/
.footer-container {
  grid-column: 1/15;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 0 rgb(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

/* .footer-container > * {
  color: var(--palette-offwhite);
} */

/* --------------------------------------- Dark Theme ---------------------------------------*/

[data-theme="dark"] {
  --palette-offwhite: rgb(71, 71, 71);
  --palette-pink: #f89fa1;
  --palette-yellow: #ffd257;
  --palette-green: #42c597;
  --palette-blue: #36a1d3;
  --palette-purple: #b979e0;
  --text-color: #fdfafa;
  --theme-toggle-color: #ffd257;

  --header-color: #b979e0;
}

.toggle-theme {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
}

.toggle-theme input {
  display: none;
}

.toggle-svg {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  fill: var(--theme-toggle-color);
  cursor: pointer;
}

/* --------------------------------------- Media Queries ---------------------------------------*/

@media only screen and (max-width: 767px) {
  .header-title {
    font-size: 2.5rem;
  }
  .sections-sidebar {
    display: none;
  }

  .img-wrapper {
    max-width: 100%;
  }

  .card-portfolio {
    flex-direction: column;
    flex: 1 1 80vw;
  }

  .skills-container > div {
    margin: 10px 0;
  }
}
