@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oxygen:wght@400;700&display=swap');

:root {
  --palette-offwhite: #fdfafa;
  --palette-pink: #f89fa1;
  --palette-yellow: #ffd257;
  --palette-green: #42c597;
  --palette-blue: #36a1d3;
  --palette-purple: #b979e0;
  --text-color: rgb(71, 71, 71);

  --header-color: #38777e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--palette-blue);
}
/* 
a:visited {
  color: var(--palette-pink);
} */
body {
  font-family: sans-serif;
  background-color: var(--palette-offwhite);
  color: var(--text-color);
}

/* --------------------------------------- Navigation Bar ---------------------------------------*/
.nav-container {
  grid-column: 1/15;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--palette-offwhite);
  box-shadow: 0 2px 0 rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.nav-branding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

/* --------------------------------------- Page Container ---------------------------------------*/
.page-container {
  display: grid;
  position: relative;
  grid-template-columns: 5vw repeat(12, 1fr) 5vw;
}

.page-header {
  margin-top: 40px;
  padding: 150px 0;
  grid-column: 1/15;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.page-header-wrapper {
  margin: 0 16.5vw;
}

/* --------------------------------------- Header ---------------------------------------*/

.header-title {
  margin-bottom: 15px;
  font-size: 4.5rem;
  font-family: 'Oxygen';
  text-align: center;
  color: var(--header-color);
}

.header-separator {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.separator-left {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  flex: 1;
}

.separator-text {
  margin: 0 15px;
  padding-bottom: 5px;
  font-family: 'Lato';
  font-weight: 300;
  color: var(--header-color);
}

.separator-right {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  flex: 1;
}

.header-subtitle {
  font-size: 1rem;
  font-family: 'Lato';
  text-align: center;
}

/* --------------------------------------- Content ---------------------------------------*/
.content-section {
  margin-top: 40px;
  grid-column: 1/15;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.content-wrapper {
  margin: 0 16.5vw;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--header-color);
}

/* --------------------------------------- Cards ---------------------------------------*/
.card-wrapper-portfolio {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-portfolio {
  margin: 10px;
  display: flex;
  flex: 1 1 300px;
  max-width: 500px;
  height: 300px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.3);
}

.card-wrapper-about-me {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.card-about-me {
  margin: 10px;
  width: 100%;
  border: 1px solid red;
}

.portfolio-text-wrapper {
  padding: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}
.card-technologies {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.technology-icon {
  line-height: 30px;
  width: 30px;
  height: 30px;
}

/* --------------------------------------- Sidebar ---------------------------------------*/

.sections-sidebar {
  position: fixed;
  top: 42px;
  right: 30px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-bottom: 7px;
}

.sidebar {
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  border-left: 1px solid rgb(0, 0, 0, 0.1);
}
